[Desktop Entry]
Type=Application
Version=1.0
Name=CatLock
Comment=Cat Proof Screen Lock
Exec=com.github.darkoverlordofdata.catlock
Icon=/usr/share/icons/com.github.darkoverlordofdata.catlock.png
Terminal=false
Categories=Utility;
StartupNotify=false
Name[en_US]=com.github.darkoverlordofdata.catlock.desktop
